body {
  font-family: Helvetica sans-serif;
  padding: 0;
  margin: 0;
  background-color: rgb(5, 11, 33);
}

.textcolor-gold {
  color: rgb(255, 229, 187);
}
.backgroundcolor-gold {
  background-color: rgb(255, 229, 187);
}

.translucent {
  opacity: 0.5;
}
.translucent:hover {
  opacity: 1.0;
  transition: opacity 1s ease;
}
.opaque {
  opacity: 1.0 !important;
}

.mdl-layout {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.mdl-layout__content {
  height: 100%;
  position: relative;
  -webkit-overflow-scrolling: touch;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.mdl-card {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 280px;
}
.mdl-card__title {
  padding: 16px;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.mdl-card > a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}
.section-spacer {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* Fixes for IE 10 */
.mdl-grid {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.mdl-mini-footer {
  margin-top: 80px;
  height: 120px;
  padding: 40px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  box-sizing: border-box;
}

.mdl-color-text--firefly {
  color: #faf3ba;
}
.mdl-color--firefly {
  background-color: #faf3ba;
}

/* Suggested fix for hiding address bar https://github.com/google/material-design-lite/issues/1072 */
.mdl-layout {
    overflow: visible;
}
.mdl-layout__drawer {
    position: fixed;
}
.mdl-layout__content {
    display: block;
    overflow: visible;
    margin-top: 64px;
}
.is-small-screen .mdl-layout__content {
    margin-top: 56px;
}
.mdl-layout__header {
    position: fixed;
}
.mdl-layout__obfuscator {
    position: fixed;
}

html, body {
  overflow-y: auto;
  min-height: 100%;
}

mdl-layout {
  min-height: 100%;
}
