
#login-page {
  max-width: 450px;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  background: rgba(0, 0, 0, 0.2);
  padding: 16px 0;
}

#login-page .welcomeInfo {
  display: none;
}
#login-page.logged-in .loginInfo {
  display: none;
}
#login-page.logged-in .welcomeInfo {
  display: initial;
}

#login-page .mdl-textfield__input {
  border-bottom: 1px solid rgba(38, 166, 154, 0.33);
}
#login-page .mdl-textfield:not(.is-focused) .mdl-textfield__label {
  color: rgba(38, 166, 154, 0.50) !important;
}
#login-page .loginInfo.mdl-card__actions {
  margin-top: 16px;
}
#login-page #changepassword-button {
  margin-top: 16px;
}

#login-page #welcome-header {
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
}

#login-page #user-warnings {
  color: #888888;
}
